<!DOCTYPE html charset="UTF-8">
<html ng-app="zesteStore">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>

  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Les zestes en folie</h1>
      <h2 class="text-center">– by AngularJS –</h2>
    </header>

    <div class="cart">
      <div class="cart-label">
        <p>Pannier</p>
      </div>
      <div class="cart-count">
        <p>{{store.cart}}</p>
      </div>
    </div>

    <div class="alert alert-cart alert-dismissable" role="alert" ng-show="store.notifEnabled">
      <button type="button" class="close" ng-click="store.notifEnabled=false">
        <span aria-hidden="true">&times;</span>
      </button>
      <b>1 {{store.addedArticle}}</b> à bien été ajouté à votre panier
    </div>

    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}} 
          <em class="pull-right" ng-show="product.stock > 0">{{product.price}} €/kg &mdash; {{product.stock}} en stock</em>
          <em class="pull-right" ng-hide="product.stock > 0">Indisponible !</em>
        </h3>

        <!-- Image Gallery  -->
        <div ng-controller="GalleryController as gallery"  ng-show="product.images.length">
          <div class="img-wrap">
            <img ng-src="{{product.images[gallery.current]}}" />
          </div>
          <ul class="img-thumbnails clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.setCurrent($index)">
              <img ng-src="{{image}}" />
            </li>
          </ul>
        </div>

        <!-- Product Tabs  -->
        <section ng-controller="TabController as tab">
          <button class="btn btn-primary pull-right" ng-show="product.stock > 0" ng-click="store.setAddedArticle(product.name); tab.setTab(3)">Ajouter au panier</button>
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">Caractéristiques</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href ng-click="tab.setTab(3)">Vos avis</a>
            </li>
          </ul>

          <!--  Description Tab's Content  -->
          <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
          </div>

          <!--  Spec Tab's Content  -->
          <div ng-show="tab.isSet(2)">
            <h4>Caractéristiques</h4>
            <blockquote>
              <strong>Diamètre : </strong>{{product.specs.diam}} <br />
              <strong>Couleur : </strong>{{product.specs.color}} <br />
              <strong>Acidité : </strong>{{product.specs.acid}} <br />
            </blockquote>
          </div>

          <!--  Review Tab's Content  -->
          <div ng-show="tab.isSet(3)">
            <!--  Product Reviews List -->
            <ul>
              <h4>Vos avis</h4>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong>{{review.stars}} Etoiles</strong>
                  {{review.body}}
                  <cite class="clearfix">—{{review.author}}</cite>
                </blockquote>
              </li>
            </ul>

            <!--  Review Form -->
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

              <!--  Live Preview -->
              <blockquote >
                <strong>{{reviewCtrl.review.stars}} Etoiles</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Ajouter un avis</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                  <option value>Notez le produit</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Ecrivez votre avis sur le produit '{{product.name}}'" title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="vous@exemple.com" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Valider votre avis" />
              </fieldset>
            </form>
          </div>

        </section>
      </div>
    </div>
    
     <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
    <script type="text/javascript" src="./js/angular.min.js" async></script>
    <script type="text/javascript" src="./js/app.js" async></script>
  </body>
</html>
